@import "../variables";

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    svg {
      margin-right: 16px;
    }

    .rotate {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
    }

    .rotate_out {
      transform: rotate(90deg);
      transition: transform 0.5s ease;
    }

    b {
      margin-right: 8px;
      color: $text;
    }

    span {
      color: $logo;
      border-bottom: 1px dashed $text;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;
        color: $text;

        &.active,
        &:hover {
          background: rgba($background, 0.2);
        }

        &.active {
          font-weight: bold;
          color: $logo;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    display: flex;
    flex-direction: row;
    align-self: start;
  }
}
